/*@import url(data.css);  */

/* Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/

/* Global styles
-------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  
}
h1 {
  font-size: 5rem;

}

h2 {
  font-size: 2.5rem;
  margin-top: 0;
}

h1, div.col-wide:nth-child(2) > h2:nth-child(2){
  text-shadow: 0 0.0625rem 0 #ccc,
               0 0.125rem 0 #c9c9c9,
               0 1875rem 0 #bbb,
               0 0.25rem 0 #b9b9b9,
               0 0.3125rem 0 #aaa,
               0 0.375rem 0.0625rem rgba(0,0,0,.2),
               0 0 0.3125rem rgba(0,0,0,.1),
               0 0.0625rem 1875rem rgba(0,0,0,.3),
               0 1875rem 0.3125rem rgba(0,0,0,.2),
               0 0.3125rem 0.625rem rgba(0,0,0,.25),
               0 0.625rem 0.625rem rgba(0,0,0,.2),
               0 1.25rem 1.25rem rgba(0,0,0,.15);

}

h3 {
  margin: 0;
}
a {
  color: #EF233C/* #99738E *//* #EF233C*/;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 3.75rem 3.125rem;
  overflow: hidden;
}
.uppercase {
  text-transform: uppercase;
}



/* Header and Footer
-------------------------*/
header, footer {
  background: #483D8B
  /* #FF1493
   #2B2D42*/;
  color: #FFF /* #8D99AE */;
}
/* header */
header {
  padding-top: 3.125rem;
  position: relative;
}
header h1, header h2 {
  color: #EDF2F4;
  margin: 0;
}
.profile-img {
  width: 15.625rem;
  height:15.625rem;

  border-radius: 50%;
}
.download {
  position: absolute;
  bottom: 0;
  right: 0;
}



/* Footer */
footer {
  text-align: center;
}
.contact-info a {
  padding: 0.625rem;
  display: inline-block;
}


/* Navigation   ****
-------------------------*/
nav {
  text-align: center;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  /*z-index: 100;*/
}
nav a {
  display: inline-block; 
  padding: 0.9375rem 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}


/* Work Experience
-------------------------*/
.work {
  background: #EDF2F4;
}
h3 ~ p {
  margin: 0;
}
.job-description {
  margin-bottom: 25px;
}
.job-description p:first-of-type {
  margin-top: 0;
}


/* Education
-------------------------*/
.education {
  
  
background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
              url(../images/Gift-Resume-Photo.jpg) no-repeat fixed;
  background-size: cover;
}
p + h3 {
  margin-top: 1.8750rem;
  line-height: 1.1;
}

section.education{
  color:  #FFF; 
text-shadow:0px 1px 1px #3a5606;
}

/**** Type Effect **/ 
.txt-type > .txt{
  font-family: 'Caveat', cursive;
font-weight: 400;
  border-right:0.2rem solid #777;
}
a.project{
  background-color: #EF233C;
  border-radius: 1rem 2rem;
  color:#FFF;
margin-top: .3rem;
  padding: 0.3125rem 0.625rem;
  text-decoration: none;
  text-shadow: 0px 2px 2px #3a5606;
}


/* Media Queries
-------------------------*/
@media (min-width: 900px) {
  .col-narrow {
    width: 30%;
    float: left;
  }
  .col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
  }
}



@media (max-width: 899px){
  header {
    text-align: center;
  }
  .profile-img {
    width: 200px;
    border-radius: 50%
  }
}


/*** Icons style *****/
#charging, #education-icon{
  color: #EF233C;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  font-size: 2em;
}


.fa-twitter,.fa-youtube ,.fa-linkedin{
  border-radius:20%;
  color:#FFF;
  font-size: 2rem;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  }

/** Youtube **/
.fa-youtube {
  background: #bb0000;

}

.fa-linkedin {
  background: #007bb5;

}